:root {
  --main-color: #00a2ff;
  --main-color-lighten: #4fc3f7;
  --header-home-color: #393034;
  --main-text-color: #444752;
  --text-inactive: #939393;
  --main-width: 940px;
  --container-width: 810px;
  --footer-width: 1400px;
}

body {
  margin: 0;
  font-family: 'Baloo Chettan 2', cursive;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.free {
  padding: 65px 20px;
}

.text-md {
  font-size: 1.25rem !important;
}

.text-base {
  font-size: 1rem !important;
}

.text-xs {
  font-size: 0.875rem !important;
}

.text-xxs {
  font-size: 0.75rem !important;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-fend {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.m-0auto {
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.bg-white {
  background-color: #fff;
}

.bg-brown {
  background-color: #393034;
}

.w-full {
  width: 100% !important;
}

.h-full {
  height: 100% !important;
}

.h-screen {
  height: 100vh !important;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.clearfix {
  &::after {
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.border {
  border: 1px solid var(--text-inactive);
}

.border-r {
  border-right: 1px solid var(--text-inactive);
}

.rounded {
  border-radius: 0.25rem;
}

.fixed {
  position: fixed;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 14px 16px 14px 16px;
  text-align: center;
  border: none;
  width: fit-content;
}

.overflow-hidden {
  overflow: hidden;
}

.text-main {
  color: var(--main-color);
}

.text-white {
  color: #fff !important;
}

.opacity-75 {
  opacity: 0.75;
}

.hodeco-link {
  text-decoration: none;

  &::hover {
    text-decoration: underline;
  }
}
