.form-home {
  .el-input {
    width: 70%;

    .el-input__inner {
      height: 56px;
      border-radius: 5px 0 0 5px;
    }
  }

  .el-button {
    margin-left: -1px;
    z-index: 2;
    border-radius: 0 5px 5px 0;
    flex: 1;
  }
}

.el-main {
  padding: 0;
}

.el-footer {
  padding: 0 !important;
}

.el-tabs__item {
  color: var(--text-inactive);
  font-weight: 400;
}

.el-tabs__item.is-active {
  color: var(--main-text-color);
}

.el-tabs__nav-wrap::after {
  height: 0;
}

// remove border bottom in active nav
.is-active {
  border-bottom-color: transparent !important;
}

.el-menu.el-menu--horizontal {
  border-bottom: none !important;
}

/** custom el calendar */
.el-calendar {
  color: var(--main-text-color);
}

.el-calendar-table td.is-selected, .el-calendar-table .el-calendar-day:hover {
  border: 1px solid var(--main-color-lighten);
  background-color: none !important;
}

.el-calendar-table .el-calendar-day {
  height: 125px;
  padding: 0;
}
/** end */


.vc-container {
  border: none !important;
  width: 100% !important;

  .vc-weeks {
    grid-row-gap: 10px !important;
    grid-column-gap: 8px !important;
    color: var(--main-color);
  }

  .vc-weekday {
    font-weight: 100;
    font-size: 1rem;
  }

  .vc-day-content {
    font-size: 16px;
    height: 32px;
    width: 32px;

    &::hover {
      background-color: var(--main-color) !important;
    }
  }

  .vc-text-gray-400 {
    pointer-events: none;
  }

  .vc-title {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Baloo Chettan 2', cursive;
    color: var(--header-home-color);
  }
}
