.home-content {
  section {
    padding: 40px 20px;

    .sub-section {
      max-width: var(--main-width);
      margin: 0 auto;
    }
  }
}

.main-wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
}

.h-title {
  line-height: 36px;
  color: var(--main-text-color);
  letter-spacing: 0.2px;
}

.hp {
  color: var(--main-text-color);
  margin: 0 !important;
}

.box {
  box-sizing: border-box;
  width: 100%;
  max-width: 440px;
  padding: 30px;
  border: 1px solid #dadada;
  margin: 20px auto;
  text-align: left;

  .form {
    display: flex;
    flex-direction: column;

    .form-title {
      font-size: 14px;
      color: var(--main-text-color);
      margin-bottom: 5px;
    }

    .form-input {
      width: 100%;
      min-height: 46px;
      box-sizing: border-box;
      border: 1px solid #d0d0d0;
      background: #fff;
      padding: 11px 14px;
      font-size: 16px;
      word-break: normal;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
    }
  }
}
