<template>
  <div class="home-tab">
    <div class="scope-tab">
      <div class="main-wrapper">
        <el-tabs v-model="activeName">
          <el-tab-pane label="Event Types" name="types">
            <c-card-expand title="What event is this?" sub-title="assa">
              <template v-slot:icon>
                <i class="el-icon-date text-md mr-2" />
              </template>
              <template v-slot:content>
                <c-tab-hours />
              </template>
            </c-card-expand>
            <c-card-expand title="What event is this?" sub-title="assa">
              <template v-slot:icon>
                <i class="el-icon-date text-md mr-2" />
              </template>
              <template v-slot:content>
                <c-tab-hours />
              </template>
            </c-card-expand>
          </el-tab-pane>
          <el-tab-pane label="Scheduled Events" name="scheduled"
            >Config</el-tab-pane
          >
        </el-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import { CardExpand } from '../common'
import TabHours from './TabHours'

export default {
  components: {
    'c-tab-hours': TabHours,
    'c-card-expand': CardExpand
  },
  data() {
    return {
      activeName: 'types'
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.home-tab {
  font-weight: 400 !important;
  font-family: 'Montserrat', sans-serif;

  .scope-tab {
    padding-top: 20px;
    background-color: white;
    position: relative;
  }
}

.mr-2 {
  margin-right: 0.5rem;
}
</style>
