<template>
  <div>
    <el-calendar :value="null" :range="range">
      <template slot="dateCell" slot-scope="{ date, data }">
        <div
          :style="
            isSatSun(data.day)
              ? 'background: #fbfbfb;'
              : 'background: transparent'
          "
          class="bg-sat-sun"
          @click="triggerSpecificDate({ date, data })"
        >
          <div class="mt-6">
            {{ getDay(data.day) }}
          </div>
          <div class="border rounded circle-day">
            <div class="text-center text-xxs">{{ circle }}</div>
          </div>
        </div>
      </template>
    </el-calendar>
    <c-modal-wrapper :show="show" title="Edit Vallabillity">
      <div>
        <div v-if="dataTriggerDate.avallabillities.length">
          <div class="label">From</div>
          <div class="label">To</div>
        </div>
        <div v-else>
          Unvallabillity
        </div>
        <div
          v-for="(val, index) in dataTriggerDate.avallabillities"
          :key="`dataVal_${index}`"
          class="valla flex row items-center"
        >
          <m-input placeholder="hh:mm" />
          <div class="diin">-</div>
          <m-input placeholder="hh:mm" />
          <i
            class="el-icon-delete remove-aval cursor-pointer"
            @click="removeInterval(index)"
          />
        </div>
        <i class="el-icon-plus new cursor-pointer" @click="newInterval"
          >New Interval</i
        >
        <btn-confirm
          title="Close"
          @clickEvent="triggerDialog(false)"
        ></btn-confirm>
      </div>
    </c-modal-wrapper>
  </div>
</template>

<script>
import moment from 'moment'
import { ModalWrapper, ConfirmButton, ModalInput } from '../common'

export default {
  components: {
    'c-modal-wrapper': ModalWrapper,
    'btn-confirm': ConfirmButton,
    'm-input': ModalInput
  },
  data() {
    return {
      dataTriggerDate: {
        avallabillities: [{ from: '', to: '' }],
        dateCell: {}
      },
      show: false,
      circle: '9:00 - 11:00',
      range: []
    }
  },
  created() {
    // const today = moment().format('YYYY-MM-DD')
    const start = moment()
      .day('Monday')
      .format('YYYY-MM-DD')
    const end = moment()
      .weekday(35)
      .format('YYYY-MM-DD')
    this.range = [start, end]
  },
  methods: {
    triggerSpecificDate(value) {
      this.dataTriggerDate = {
        avallabillities: [
          {
            from: '9:00',
            to: '17:00'
          }
        ],
        dateCell: value
      }
      this.show = true
    },
    newInterval() {
      this.dataTriggerDate.avallabillities.push({})
    },
    removeInterval(id) {
      this.dataTriggerDate.avallabillities = this.dataTriggerDate.avallabillities.splice(
        id - 1,
        1
      )
    },
    getDay(day) {
      const inputDate = new Date(day)
      const today = new Date()
      if (inputDate.setHours(0, 0, 0, 0) === today.setHours(0, 0, 0, 0)) {
        return 'TODAY'
      } else {
        return day.split('-').slice(2)[0]
      }
    },
    triggerDialog(isShow) {
      this.show = isShow
    },
    isSatSun(day) {
      if (moment(day).isoWeekday() === 6 || moment(day).isoWeekday() === 7) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.mt-6 {
  margin-bottom: 24px;
}

.circle-day {
  padding: 3px 0;
}

.is-selected {
  color: #1989fa;
}

.bg-sat-sun {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  padding: 8px;
}

.diin {
  padding: 0 8px;
}

.remove-aval {
  padding: 0 10px;
  color: var(--main-color);
}

.new {
  font-size: 14px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.label {
  font-size: 12px;
  font-weight: 600;
  width: 150px;
  display: inline-block;
}
</style>
