<template>
  <div>
    <button class="btn" @click="triggerEvent">{{ title }}</button>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    }
  },
  methods: {
    triggerEvent() {
      this.$emit('clickEvent')
    }
  }
}
</script>
