<template>
  <div>
    <div class="rounded ccard" :class="isExpand ? 'border-active' : 'border'">
      <div class="ccard__header cursor-pointer flex" @click="toggleCardExpand">
        <slot name="icon"></slot>
        <div>
          <div class="ccard__header-title">{{ title }}</div>
          <div class="ccard__header-sub-title">{{ subTitle }}</div>
        </div>
      </div>
      <div v-if="isExpand" class="ccard__expand transition-content">
        <slot name="content" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    subTitle: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isExpand: false
    }
  },
  created() {
    this.$bus.$on('expandCard', (value) => {
      this.isExpand = value
    })
  },
  beforeDestroy() {
    this.$bus.$off('expandCard', false)
  },
  methods: {
    toggleCardExpand() {
      this.isExpand = !this.isExpand
    }
  }
}
</script>

<style lang="scss" scoped>
.ccard {
  margin: 4px 0;
  overflow: hidden;

  &__header {
    padding: 15px 20px;

    &-title {
      font-size: 16px;
      color: var(--main-text-color);
      margin-bottom: 0.25rem;
    }

    &-sub-title {
      font-size: 14px;
      color: var(--text-inactive);
    }
  }

  &__expand {
    border-top: 0.5px solid var(--text-inactive);
  }
}

.border-active {
  border: 2px solid #666a73;
}

.transition-content {
  transition: height 0.3s ease-out;
}
</style>
