<template>
  <div>
    <div class="navbar bg-brown">
      <div class="header-wrapper">
        <div class="header">
          <a href="#" class="logo">
            <img
              src="https://calendly.com/packs/media/images/logo-square-bca969648a878a359db2a6c99bd420d0.png"
              alt="logo"
            />
          </a>
          <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            text-color="#ffffffb3"
            active-text-color="#fff"
          >
            <el-menu-item
              v-for="(item, index) in navItems"
              :key="`nav_${index}`"
              :index="`${index + 1}`"
              class="nav-item"
              >{{ item.title }}</el-menu-item
            >
          </el-menu>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeIndex: '1',
      navItems: [
        {
          title: 'Home',
          href: '#'
        },
        {
          title: 'Integrations',
          href: '#'
        },
        {
          title: 'Helps',
          href: '#'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  width: 100%;

  .header-wrapper {
    padding: 0 20px;
    max-width: var(--main-width);
    margin: 0 auto;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 35px;
        height: 35px;
      }

      .nav-item {
        font-size: 16px;
        padding: 0 14px;
        background-color: transparent;

        &::hover {
          color: 0.8;
        }
      }
    }
  }
}

.el-menu-demo {
  background-color: transparent;
}
</style>
