<template>
  <div>
    <div class="flex column minput">
      <input type="text" class="minput__text" :placeholder="placeholder" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.minput {
  color: var(--main-text-color);
  padding: 10px 0;

  &__text {
    max-height: 46px;
    width: 105px;
    border: 1px solid #d0d0d0;
    padding: 12px 8px 12px 16px;
    font-size: 16px;
    color: var(--main-text-color);
  }
}
</style>
