<template>
  <div>
    <div
      class="modal"
      :style="show ? 'display: block;' : 'display: none;'"
      aria-hidden="true"
    >
      <div class="modal__dialog">
        <div
          class="modal__dialog-content"
          :style="show ? 'margin-top: 100px;' : 'margin-top: -100vh'"
        >
          <div class="modal__title">{{ title }}</div>
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    show: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  height: 100vh;

  &__dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);

    &-content {
      width: 390px;
      background-color: #fff;
      height: fit-content;
      margin-top: 100px;
      border: 4px solid #979797;
      padding: 25px 28px 25px 28px;
      transition: margin 300ms;
      transition-delay: 1000ms;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 10px;
  }
}
</style>
