<template>
  <div
    :style="{ width: showAvailableTimes ? '1060px' : '810px' }"
    class="center"
  >
    <div class="box">
      <el-row>
        <el-col :span="showAvailableTimes ? 8 : 12"
          ><div class="box__inner">
            <div class="hp">Nguyễn Doãn Tú</div>
            <div class="h-title text-md text-bold">Test 1</div>
            <div class="flex items-center">
              <i class="el-icon-timer text-md" />
              <div class="hp">1 hr</div>
            </div>
            <div class="flex items-center">
              <i class="el-icon-location-outline text-md" />
              <div class="hp">test 1</div>
            </div>
          </div></el-col
        >
        <el-col :span="showAvailableTimes ? 16 : 12">
          <div class="box__inner-right">
            <div class="text-md h-title">
              Select a Date & Time
            </div>
            <div>
              <el-row>
                <el-col :span="!showAvailableTimes ? 24 : 14">
                  <div class="times-zone">
                    <client-only>
                      <v-date-picker
                        :value="null"
                        :disabled-dates="[
                          {
                            start: null,
                            end: new Date()
                          },
                          {
                            weekdays: [1, 7]
                          }
                        ]"
                        content-class="content-day"
                        title-position="left"
                        color="blue"
                        is-inline
                        dot
                        @dayclick="toggleAvailableTimes"
                      />
                    </client-only>
                  </div>
                </el-col>
                <el-col :span="!showAvailableTimes ? 0 : 10">
                  <div class="at-box">
                    <div class="vc-title">
                      Select a Date & Time
                    </div>
                    <div class="at-times">
                      <div class="times-list">
                        <div v-for="i in 13" :key="i">
                          <button class="time-btn">
                            12:30
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      availableDates: {},
      showAvailableTimes: false
    }
  },
  methods: {
    toggleAvailableTimes() {
      if (!this.showAvailableTimes) {
        this.showAvailableTimes = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.center {
  margin: 0 auto;
}

.box {
  margin: 60px 0;
  max-height: 650px;
  transition: all 0.22s ease-out;
  border-radius: 8px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;

  &__inner {
    padding: 30px;
  }

  &__inner-right {
    padding: 30px 0 30px 30px;
  }
}

.content-day {
  &::hover {
    background-color: var(--main-color);
  }
}

.times-zone {
  padding-bottom: 80px;
}

.at-box {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  min-height: 550px;

  .at-times {
    flex: 1 1 100px;
    padding-right: 31px;
    padding-bottom: 15px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 4px solid transparent;
      background-color: rgba(0, 0, 0, 0.6);
      background-clip: padding-box;
    }

    .times-list {
      margin-top: 8px;
      overflow: hidden;
      white-space: nowrap;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .time-btn {
    color: var(--main-color);
    font-weight: 500;
    font-size: 1rem;
    padding: 16px;
    width: 100%;
    background: transparent;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    margin: 6px 0;
    cursor: pointer;
    outline: none;

    &::hover,
    &::focus {
      border-width: 2px;
    }
  }

  .vc-title {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Baloo Chettan 2', cursive;
    color: var(--header-home-color);
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
</style>
