<template>
  <div>
    <c-header />
    <el-main>
      <c-tab />
    </el-main>
  </div>
</template>

<script>
import { HeaderAuth } from '@/components/common'
import { HomeTab } from '@/components/home'

export default {
  layout: 'auth',
  name: 'HomePage',
  components: {
    'c-header': HeaderAuth,
    'c-tab': HomeTab
  }
}
</script>
