<template>
  <div class="container">
    <div class="free text-center">
      <img src="~/assets/images/logo.png" class="fr-logo" alt="logo" />
      <div class="fr-title text-md">Welcome back, tunr@mirabo.com.vn!</div>
      <div class="box">
        <div class="wr text-center">
          <a href="#" class="gg"
            ><font-awesome-icon
              :icon="['fab', 'google']"
              class="text-white"
              style="margin-right: 10px; font-size: 20px"
            />Log in with Google</a
          >
          <div class="form-title mt-4">
            Don't have an account?
            <router-link to="/signup" class="text-main hodeco-link"
              >Sign up</router-link
            >.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.mt-4 {
  margin-top: 1rem;
}

.gg {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 7px 20px;
  min-width: 260px;
  max-width: 100%;
  border-radius: 22px;
  color: #fff;
  margin: 10px 0;
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  transition: 0.2s;
  text-decoration: none;
  background-color: var(--main-color);
}

.fr-logo {
  width: 35px;
  height: 35px;
}

.fr-title {
  color: var(--main-text-color);
  padding-top: 10px;
}

.wr {
  padding: 30px;
}
</style>
