<template>
  <div class="container">
    <div class="free text-center">
      <img src="~/assets/images/logo.png" class="fr-logo" alt="logo" />
      <div class="fr-title text-md">Log into your Calendly account.</div>
      <div class="box">
        <div class="form">
          <div class="form-title">Sign up with Calendly for free</div>
          <input type="text" class="form-input" placeholder="Email" />
          <button class="btn text-xs mt-4">Close</button>
          <div class="form-title mt-4">
            Already have an account?
            <router-link to="/login" class="text-main hodeco-link"
              >Log in</router-link
            >.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.mt-4 {
  margin-top: 1rem;
}

.fr-logo {
  width: 35px;
  height: 35px;
}

.fr-title {
  color: var(--main-text-color);
  padding-top: 10px;
}
</style>
